header {
  margin: 30px 0 0 30px;
}

main {
  margin-top: 50px;
  min-height: 80vh;
}

.table-sm th {
  text-align: center;
}

.table-sm td {
  text-align: center;
}

.form-control:focus {
  box-shadow: 0;
}